<!doctype html>
<title>{% block title %}{% endblock %}</title>
<nav>
    <h1>Social Flock</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log out</a>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log in</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
