{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log in{% endblock %}</h1>
{% endblock %}
{% block content %}
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Log in">
    </form>
{% endblock %}
